<!DOCTYPE html>
<html lang="es">
<head>
    <%- include("partials/head", {title: "Futbol e-commerce"}) %>
    <script src="/js/filtersScript.js" defer></script>
    <script src="/js/categoryFilterFormScript.js" defer></script>
</head>
<body>
    <!-- ******************************** HEADER ******************************** -->
    <%- include("partials/header") %>
    <!-- ******************************** END HEADER ******************************** -->

    <!-- ******************************** MAIN ******************************** -->
    <main class="categoryMain">
        <section class="categoryFilterSection">
            <div class="categoryFilterTitleAndCloseButtonContainer">
                <h3 class="categoryFilterTitle">FILTROS</h3>

                <button class="categoryFilterCloseButton">
                    <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="categoryFilterCloseIcon">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M18 6l-12 12" />
                        <path d="M6 6l12 12" />
                    </svg>
                </button>
            </div>

            <form class="categoryFilterForm" id="categoryFilterForm" action="/categories/<%= categoryName %>/filtrado" method="get">
                <h5 class="categoryFilterSubtitle">Subcategorías</h5>
                <% categorySubcategories.forEach(subcategory => { %>
                    <label class="categoryFilterLabel" for="subcategory-<%= subcategory.name.toLowerCase().replace(" ", "-") %>">
                        <input type="checkbox" class="categoryFilterCheckbox" id="subcategory-<%= subcategory.name.toLowerCase().replace(" ", "-") %>" name="subcategories[]" value="<%= subcategory.id %>">

                        <span class="categoryFilterCheckboxName"><%= subcategory.name %></span>
                    </label>
                <% }) %>

                <h5 class="categoryFilterSubtitle categoryFilterTallesTitle">Talles</h5>
                <% talles.forEach(talle => { %>
                    <label class="categoryFilterLabel" for="talle-<%= talle.name.toLowerCase() %>">
                        <input class="categoryFilterCheckbox" type="checkbox" id="talle-<%= talle.name.toLowerCase() %>" name="talles[]" value="<%= talle.id %>">

                        <span class="categoryFilterCheckboxName"><%= talle.name %></span>
                    </label>
                <% }) %>

                <h5 class="categoryFilterSubtitle categoryFilterPriceTitle">Precio</h5>
                <div class="categoryFilterPriceContainer">
                    <input class="categoryFilterPriceInput" type="number" id="minPrice" name="minPrice" placeholder="Mínimo" max="9999999" min="0">
                    <input class="categoryFilterPriceInput" type="number" id="maxPrice" name="maxPrice" placeholder="Máximo" max="9999999" min="0">
                </div>

                <span class="subcategoriesFilterError" id="subcategoriesFilterError"></span>

                <div class="categoryFilterApplyButtonContainer">
                    <button class="categoryFilterApplyButton" type="submit">APLICAR</button>
                </div>
            </form>
        </section>

        <section class="categoryProductsSection">
            <div class="indexCamisetasTitleAndFilterButtonContainer categoryCamisetasTitleAndFilterButtonContainer">
                <div class="indexCamisetasTitleContainer">
                    <h2 class="indexCamisetasTitle categoryCamisetasTitle"><%= categoryName.toUpperCase().replace("-", " ") %></h2>
                    <div class="indexCamisetasTitleUnderline"></div>
                </div>

                <div class="indexCamisetasFilterButtonContainer categoryCamisetasFilterButtonContainer">
                    <button class="indexCamisetasFilterButton">
                        <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="indexCamisetasFilterIcon">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <path d="M4 4h16v2.172a2 2 0 0 1 -.586 1.414l-4.414 4.414v7l-6 2v-8.5l-4.48 -4.928a2 2 0 0 1 -.52 -1.345v-2.227z" />
                        </svg>
                    </button>
                </div>
            </div>

            <div class="indexCamisetasContainer">
                <% categoryProducts.forEach(product => { %>
                    <div class="camisetaContainer categoryCamisetaContainer">
                        <a class="camiestaLink" href="/productos/<%= product.id %>">
                            <div class="camisetaImageContainer">
                                <img class="camisetaImage" src="/images/products/<%= product.images[0].image %>" alt="<%= product.product_name %>">
                            </div>
        
                            <div class="camisetaInformationContainer">
                                <span class="camisetaTitle"><%= product.product_name %></span>
                                <span class="camisetaPrice">$<%= product.price %></span>
                                <span class="camisetaDiscount"><%= product.discount %>% OFF</span>
                            </div>
                        </a>
                    </div>
                <% }) %>
            </div>
        </section>
    </main>
    <!-- ******************************** END MAIN ******************************** -->

    <!-- ******************************** FOOTER ******************************** -->
    <%- include("partials/footer") %>
    <!-- ******************************** END FOOTER ******************************** -->
</body>
</html>