<!DOCTYPE html>
<html lang="es">
<head>
    <%- include("partials/head", {title: "Tifosi"}) %>
</head>
<body>
    <!-- ******************************** HEADER ******************************** -->
    <%- include("partials/header") %>
    <!-- ******************************** END HEADER ******************************** -->

    <main>
        <div class="categoriesEditContainer">
            <% categories.forEach(category => { %>
                <div class="categoryEditContainer">
                    <h3 class="categoryEditTitle"><%= category.name %></h3>
                    <a class="categoryEditLink" href="/editar/categoria/<%= category.id %>">
                        <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="categoryEditIcon">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1" />
                            <path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z" />
                            <path d="M16 5l3 3" />
                        </svg>
                    </a>
                </div>
            <% }) %>
        </div>
    </main>

    <!-- ******************************** FOOTER ******************************** -->
    <%- include("partials/footer") %>
    <!-- ******************************** END FOOTER ******************************** -->
</body>
</html>