<!DOCTYPE html>
<html lang="es">
<head>
    <%- include("partials/head", {title: "Futbol e-commerce"}) %>
    <script src="/js/editShipmentInformationValidations.js" defer></script>
</head>
<body>
    <!-- ******************************** HEADER ******************************** -->
    <%- include("partials/header") %>
    <!-- ******************************** END HEADER ******************************** -->

    <main class="editPersonalInformationMain">
        <form class="editProfileForm" id="editShipmentInformationForm" action="/perfil/editar-informacion-de-envio/<%= locals.userLoggedIn.id %>?_method=put" method="post">
            <div class="editProfileTitleContainer">
                <h2 class="editProfileTitle">Editar información de envío</h2>
            </div>

            <div class="editProfileContentContainer">
                <div class="editProfileLabelAndInputContainer">
                    <label class="editProfileLabel" for="country">País</label>
                    <input class="editProfileInput" type="text" id="country" name="country" value="<%= locals.userLoggedIn.country %>" maxlength="30">
                    <span class="frontendRegistroError" id="countryError"></span>
                    <% if (locals.errors && errors.country) { %>
                        <span class="backendRegistroError"><%= errors.country.msg %></span>
                    <% } %>
                </div>

                <div class="editProfileLabelAndInputContainer">
                    <label class="editProfileLabel" for="province">Provincia</label>
                    <input class="editProfileInput" type="text" id="province" name="province" value="<%= locals.userLoggedIn.province %>" maxlength="40">
                    <span class="frontendRegistroError" id="provinceError"></span>
                    <% if (locals.errors && errors.province) { %>
                        <span class="backendRegistroError"><%= errors.province.msg %></span>
                    <% } %>
                </div>

                <div class="editProfileLabelAndInputContainer">
                    <label class="editProfileLabel" for="city">Ciudad</label>
                    <input class="editProfileInput" type="text" id="city" name="city" value="<%= locals.userLoggedIn.city %>" maxlength="40">
                    <span class="frontendRegistroError" id="cityError"></span>
                    <% if (locals.errors && errors.city) { %>
                        <span class="backendRegistroError"><%= errors.city.msg %></span>
                    <% } %>
                </div>

                <div class="editProfileLabelAndInputContainer">
                    <label class="editProfileLabel" for="address">Dirección</label>
                    <input class="editProfileInput" type="text" id="address" name="address" value="<%= locals.userLoggedIn.address %>" maxlength="50">
                    <span class="frontendRegistroError" id="addressError"></span>
                    <% if (locals.errors && errors.address) { %>
                        <span class="backendRegistroError"><%= errors.address.msg %></span>
                    <% } %>
                </div>

                <div class="editProfileLabelAndInputContainer">
                    <label class="editProfileLabel" for="cp">Código postal</label>
                    <input class="editProfileInput" type="text" id="cp" name="cp" value="<%= locals.userLoggedIn.cp %>" maxlength="10">
                    <span class="frontendRegistroError" id="cpError"></span>
                    <% if (locals.errors && errors.cp) { %>
                        <span class="backendRegistroError"><%= errors.cp.msg %></span>
                    <% } %>
                </div>

                <div class="editProfileConfirmButtonContainer">
                    <button class="editProfileConfirmButton" type="submit">Editar perfil</button>
                </div>
            </div>
        </form>
    </main>

    <!-- ******************************** FOOTER ******************************** -->
    <%- include("partials/footer") %>
    <!-- ******************************** END FOOTER ******************************** -->
</body>
</html>