<!DOCTYPE html>
<html lang="es">
<head>
    <%- include("partials/head", {title: "Futbol e-commerce"}) %>
    <script src="/js/editPasswordValidations.js" defer></script>
</head>
<body>
    <!-- ******************************** HEADER ******************************** -->
    <%- include("partials/header") %>
    <!-- ******************************** END HEADER ******************************** -->

    <main class="editPersonalInformationMain">
        <form class="editProfileForm" id="editPasswordForm" action="/perfil/editar-contrasena/<%= locals.userLoggedIn.id %>?_method=put" method="post">
            <div class="editProfileTitleContainer">
                <h2 class="editProfileTitle">Editar contrase単a</h2>
            </div>

            <div class="editProfileContentContainer">
                <div class="editProfileLabelAndInputContainer">
                    <label class="editProfileLabel" for="password">Nueva contrase単a</label>
                    <input class="editProfileInput" type="password" id="password" name="password" maxlength="40">
                    <span class="frontendRegistroError" id="passwordError"></span>
                    <% if (locals.errors && errors.password) { %>
                        <span class="backendRegistroError"><%= errors.password.msg %></span>
                    <% } %>
                </div>

                <div class="editProfileLabelAndInputContainer">
                    <label class="editProfileLabel" for="passwordConfirmation">Confirmar nueva contrase単a</label>
                    <input class="editProfileInput" type="password" id="passwordConfirmation" name="passwordConfirmation" maxlength="40">
                    <span class="frontendRegistroError" id="passwordConfirmationError"></span>
                    <% if (locals.errors && errors.passwordConfirmation) { %>
                        <span class="backendRegistroError"><%= errors.passwordConfirmation.msg %></span>
                    <% } %>
                </div>

                <div class="editProfileConfirmButtonContainer">
                    <button class="editProfileConfirmButton" type="submit">Editar contrase単a</button>
                </div>
            </div>
        </form>
    </main>

    <!-- ******************************** FOOTER ******************************** -->
    <%- include("partials/footer") %>
    <!-- ******************************** END FOOTER ******************************** -->
</body>
</html>