<!DOCTYPE html>
<html lang="es">
<head>
    <%- include("partials/head", {title: "Futbol e-commerce"}) %>
    <script src="/js/ordersScript.js" defer></script>
</head>
<body>
    <!-- ******************************** HEADER ******************************** -->
    <%- include("partials/header") %>
    <!-- ******************************** END HEADER ******************************** -->

    <!-- ******************************** MAIN ******************************** -->
    <main>
        <section class="ordersSection">
            <div class="indexCamisetasTitleContainer">
                <h2 class="indexCamisetasTitle categoryCamisetasTitle">TUS ORDENES</h2>
                <div class="indexCamisetasTitleUnderline"></div>
            </div>

            <% if(locals.userLoggedIn.rank == "user"){ %>
                <% if(userOrders.length > 0){ %>
                    <div class="ordersContainer">
                        <% userOrders.forEach(order => { %>
                            <div class="orderContainer">
                                <div class="orderNumberContainer">
                                    <p class="orderNumberText">Orden N°</p>
                                    <p class="orderNumber"><%= order.id %></p>
                                </div>
                                <div class="orderSeparator"></div>
                                <div class="orderDetails">
                                    <span class="orderPrice">Pago: $<%= order.total_price %></span>
                                    <% if(order.status == "pendiente"){ %>
                                        <span class="orderPendingStatus">Pendiente</span>
                                    <% } else if(order.status == "aprobado") { %>
                                        <span class="orderAcceptedStatus">Aprobado</span>
                                    <% } else { %>
                                        <span class="orderRejectedStatus">Rechazado</span>
                                    <% } %>
                                </div>
                            </div>
                        <% }) %>
                    </div>
                <% } else { %>
                    <div class="orderEmptyContainer">
                        <p class="orderEmptyText">Todavía no tienes ordenes</p>
                    </div>
                <% } %>
            <% } else { %>
                <% if(orders.length > 0){ %>
                    <div class="ordersContainer">
                        <% orders.forEach(order => { %>
                            <div class="orderContainer">
                                <div class="orderNumberContainer">
                                    <p class="orderNumberText">Orden N°</p>
                                    <p class="orderNumber"><%= order.id %></p>
                                    <p class="orderUserId"><%= order.user_id %></p>
                                    <p class="orderUserName"><%= order.user_name %></p>
                                </div>
                                <div class="orderSeparator"></div>
                                <div class="orderDetails">
                                    <span class="orderPrice">Pago: $<%= order.total_price %></span>
                                    <% if(order.status == "pendiente"){ %>
                                        <span class="orderPendingStatus">Pendiente</span>
                                    <% } else if(order.status == "aprobado") { %>
                                        <span class="orderAcceptedStatus">Aprobado</span>
                                    <% } else { %>
                                        <span class="orderRejectedStatus">Rechazado</span>
                                    <% } %>
                                </div>
                                <div class="editOrderButtonContainer">
                                    <form class="orderActionsForm" id="orderActionsForm-<%= order.id %>" action="" method="">
                                        <button onclick="editOrderStatus('/ordenes/editar-orden/<%= order.id %>/aprobado', 'post', '<%= order.id %>')" class="editOrderButton">Aprobado</button>
                                        <button onclick="editOrderStatus('/ordenes/editar-orden/<%= order.id %>/pendiente', 'post', '<%= order.id %>')" class="editOrderButton">Pendiente</button>
                                        <button onclick="editOrderStatus('/ordenes/editar-orden/<%= order.id %>/rechazado', 'post', '<%= order.id %>')" class="editOrderButton">Rechazado</button>
                                    </form>
                                </div>
                            </div>
                        <% }) %>
                    </div>
                <% } else { %>
                    <div class="orderEmptyContainer">
                        <p class="orderEmptyText">Todavía no hay ordenes</p>
                    </div>
                <% } %>
            <% } %>
        </section>
    </main>
    <!-- ******************************** END MAIN ******************************** -->

    <!-- ******************************** FOOTER ******************************** -->
    <%- include("partials/footer") %>
    <!-- ******************************** END FOOTER ******************************** -->
</body>
</html>