<!DOCTYPE html>
<html lang="es">
<head>
    <%- include("partials/head", {title: "Futbol e-commerce"}) %>
    <script src="/js/productDetailQuantityScript.js" defer></script>
    <script src="/js/productDetailSizeSelectedScript.js" defer></script>
    <script src="/js/productDetailDeleteProductButton.js" defer></script>
</head>
<body>
    <!-- ******************************** HEADER ******************************** -->
    <%- include("partials/header") %>
    <!-- ******************************** END HEADER ******************************** -->

    <main>
        <section class="productDetailSection">
            <div class="productDetailImageContainer">
                <img class="productDetailImage" src="/images/products/<%= product.image %>" alt="<%= product.product_name %>">
            </div>

            <div class="productDetailInformation">
                <div class="productDetailNameCategoryAndSubcategory">
                    <h2 class="productDetailName"><%= product.product_name %></h2>
                    <p class="productDetailCategory"><%= categoryName %></p>
                    <p class="productDetailSubcategory"><%= subcategoryName %></p>
                </div>

                <div class="productDetailPriceDiscountQuantityAndSizesContainer">
                    <div class="productDetailPriceAndDiscountContainer">
                        <p class="productDetailPrice">$<%= product.price %></p>
                        <p class="productDetailDiscount"><%= product.discount %>% OFF</p>
                    </div>
                    
                    <div class="productDetailQuantityContainer">
                        <label class="productDetailQuantityLabel" for="productQuantity">Cantidad</label>
                        <div class="quantityContainer">
                            <button class="productDetailQuantitySubtractButton" onclick="decrement()">-</button>
                            <input class="productDetailQuantityInput" type="number" name="productQuantity" id="productQuantity" value="1" min="1" required>
                            <button class="productDetailQuantityAddButton" onclick="increment()">+</button>
                        </div>
                    </div>

                    <div class="productDetailSizesContainer">
                        <label class="productDetailSizeLabel" for="productDetailSize">XXS</label>
                        <input class="productDetailSizeRadio" type="radio" name="productDetailSize" id="productDetailSize">

                        <label class="productDetailSizeLabel" for="productDetailSize">XS</label>
                        <input class="productDetailSizeRadio" type="radio" name="productDetailSize" id="productDetailSize">

                        <label class="productDetailSizeLabel" for="productDetailSize">S</label>
                        <input class="productDetailSizeRadio" type="radio" name="productDetailSize" id="productDetailSize">

                        <label class="productDetailSizeLabel" for="productDetailSize">M</label>
                        <input class="productDetailSizeRadio" type="radio" name="productDetailSize" id="productDetailSize">

                        <label class="productDetailSizeLabel" for="productDetailSize">L</label>
                        <input class="productDetailSizeRadio" type="radio" name="productDetailSize" id="productDetailSize">

                        <label class="productDetailSizeLabel" for="productDetailSize">XL</label>
                        <input class="productDetailSizeRadio" type="radio" name="productDetailSize" id="productDetailSize">

                        <label class="productDetailSizeLabel" for="productDetailSize">XXL</label>
                        <input class="productDetailSizeRadio" type="radio" name="productDetailSize" id="productDetailSize">
                    </div>

                    <div class="productDetailButtonsContainer">
                        <form action="">
                            <button type="submit" class="productDetailBuyButton">Comprar</button>
                        </form>

                        <form action="/carrito/<%= product.id %>" method="post">
                            <button type="submit" class="productDetailAddToCartButton">Agregar al carrito</button>
                        </form>

                        <form action="/editar/producto/<%= product.id %>" method="get">
                            <button type="submit" class="productDetailEditProduct">Ediar producto</button>
                        </form>

                        <button onclick="deleteProduct()" class="productDetailDeleteProduct">Borrar producto</button>
                        <form class="deleteProductForm" id="deleteProductForm" action="/borrar/producto/<%= product.id %>" method="post">
                            <div class="deleteProductTextContainer">
                                <h4 class="deleteProductFormTitle">¿Estas seguro de eliminar el siguiente producto?</h4>
                                <p class="deleteProductFormProductName"><%= product.product_name %></p>
                            </div>
                            <div class="deleteProductButtonsContainer">
                                <button class="deleteProductButton" type="submit">Borrar</button>
                                <button class="deleteProductCancelButton" onclick="cancelDeleteProduct()" type="button">Cancelar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- ******************************** FOOTER ******************************** -->
    <%- include("partials/footer") %>
    <!-- ******************************** END FOOTER ******************************** -->
</body>
</html>