<!DOCTYPE html>
<html lang="es">
<head>
    <%- include("partials/head", {title: "Tifosi"}) %>
    <script src="/js/productDetailQuantityScript.js" defer></script>
    <script src="/js/productDetailSizeSelectedScript.js" defer></script>
    <script src="/js/productDetailDeleteProductButton.js" defer></script>
    <script src="/js/productDetailFormScript.js" defer></script>
    <script src="/js/productDetailTalleRequiredScript.js" defer></script>
    <script src="/js/productDetailBuyScript.js" defer></script>
    <script src="/js/productDetailPrint.js" defer></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css">
</head>
<body>
    <!-- ******************************** HEADER ******************************** -->
    <%- include("partials/header") %>
    <!-- ******************************** END HEADER ******************************** -->

    <main>
        <section class="productDetailSection">
            <section id="image-carousel" class="splide productDetailSectionSplide" aria-label="Beautiful Images">
                <div class="splide__track productDetailSplide__track">
                    <ul class="splide__list">
                        <% for (let i = 0; i < product.images.length; i++) { %>
                            <li class="splide__slide">
                                <div class="productDetailImageContainer">
                                    <img class="productDetailImage" src="/images/products/<%= product.images[i]?.image %>" alt="<%= product.product_name %>">
                                </div>
                            </li>
                        <% } %>
                    </ul>
                </div>
            </section>

            <div class="productDetailInformation">
                <div class="productDetailNameCategoryAndSubcategory">
                    <h2 class="productDetailName"><%= product.product_name %></h2>
                    <p class="productDetailCategory"><%= categoryName %></p>
                    <p class="productDetailSubcategory"><%= subcategoryName %></p>
                </div>

                <div class="productDetailPriceDiscountQuantityAndSizesContainer">
                    <div class="productDetailPriceAndDiscountContainer">
                        <p class="productDetailPrice">$<%= product.price - (product.price * 0.10) %></p>
                        <p class="productDetailPriceCard">$<%= product.price %> <span class="productDetailPriceCardText">con tarjeta <i class="fa-solid fa-credit-card"></i></span></p>
                    </div>

                    <form class="productDetailForm" id="productDetailForm" action="" method="">
                        <div class="productDetailQuantityContainer">
                            <label class="productDetailQuantityLabel" for="productQuantity">Cantidad</label>
                            <div class="quantityContainer">
                                <button type="button" class="productDetailQuantitySubtractButton">-</button>
                                <input class="productDetailQuantityInput" type="number" name="productQuantity" id="productQuantity" value="1" min="1" max="<%= product.stock %>" required>
                                <button type="button" class="productDetailQuantityAddButton">+</button>
                            </div>
                            <span class="productDetailStockDisponible">(<%= product.stock %> disponibles)</span>
                        </div>

                        <% if(product.prints.length > 0) { %>
                            <div class="productDetailPrintsContainer">
                                <label class="productDetailPrintsLabel" for="productPrint">Estampado</label>
                                <select class="productDetailPrintsSelect" name="productPrint" id="productPrint">
                                    <option class="productDetailPrintsOption" value="sin-estampado">Sin estampado</option>
                                    <% for (let i = 0; i < product.prints.length; i++){ %>
                                        <option class="productDetailPrintsOption" value="<%=product.prints[i].print.toLowerCase().replace(" ", "-")%>"><%= product.prints[i].print %></option>
                                    <% } %>
                                    <option class="productDetailPrintsOption" value="estampado-personalizado">Personalizado</option>
                                </select>
                                <span class="productDetailPrintPrice">$<%= printPrice.price %></span>
                                <span class="productDetailPrintCustom">por encargue</span>
                                <!-- <input class="productDetailCustomPrint" type="text" name="customPrint" id="customPrint" placeholder="nombre y número de tu estampado" maxlength="40"> -->
                            </div>
                        <% } %>
    
                        <div class="productDetailSizesContainer" id="productDetailSizesContainer">
                            <% tallesNames.forEach(talle => { %>
                                <label class="productDetailSizeLabel" for="productDetailSize-<%= talle %>"><%= talle %></label>
                                <input class="productDetailSizeRadio" type="radio" name="productDetailSize" id="productDetailSize-<%= talle %>" value="<%= talle %>">
                            <% }) %>

                            <span class="tallesNotSelectedError" id="tallesNotSelectedError"></span>
                        </div>
    
                        <div class="productDetailButtonsContainer">    
                            <button type="button" class="productDetailAddToCartButton" onclick="validateAndSubmit('/carrito/<%= product.id %>', 'post')">Agregar al carrito</button>
    
                            <% if(locals.userLoggedIn.rank == "admin"){ %>
                                <button type="submit" class="productDetailEditProduct" onclick="submitForm('/editar/producto/<%= product.id %>', 'get')">Editar producto</button>

                                <button type="button" onclick="deleteProduct()" class="productDetailDeleteProduct">Borrar producto</button>
                            <% } %>
                        </div>
                    </form>

                    <div class="deleteProductFormContainer" id="deleteProductFormContainer">
                        <form class="deleteProductForm" id="deleteProductForm" action="" method="">
                            <div class="deleteProductTextContainer">
                                <h4 class="deleteProductFormTitle">¿Estas seguro de eliminar el siguiente producto?</h4>
                                <p class="deleteProductFormProductName"><%= product.product_name %></p>
                            </div>

                            <div class="deleteProductButtonsContainer">
                                <button class="deleteProductButton" type="button" onclick="deleteProductProcess('/borrar/producto/<%= product.id %>?_method=delete', 'post')">Borrar</button>
                                <button class="deleteProductCancelButton" onclick="cancelDeleteProduct()" type="button">Cancelar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <div class="customPrintMessageContainer">
            <p class="customPrintMessageText">Si queres una camiseta con un estampado personalizado, se tiene que realizar un encargue de la misma. Comunicate al siguiente <a class="shoppingCartTransferenciaLink" href="https://wa.link/1h3n9a">whatsapp</a> y realiza tu pedido indicando el producto que queres, su talle, cantidad,  y el estampado que queres (nombre y número).</p>

            <button class="customPrintMessageCloseButton" onclick="closeCustomPrintMessage()">CERRAR</button>
        </div>
    </main>

    <!-- ******************************** FOOTER ******************************** -->
    <%- include("partials/footer") %>
    <!-- ******************************** END FOOTER ******************************** -->

    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
    <script>
        document.addEventListener( 'DOMContentLoaded', function() {
            var splide = new Splide( '.splide', {
                pagination: true,
                arrows: true
            } );
            splide.mount();
        } );
    </script>
</body>
</html>