<!DOCTYPE html>
<html lang="es">
<head>
    <%- include("partials/head", {title: "Futbol e-commerce"}) %>
</head>
<body>
    <!-- ******************************** HEADER ******************************** -->
    <%- include("partials/header") %>
    <!-- ******************************** END HEADER ******************************** -->

    <main class="crearProductMain">
        <form class="crearProductForm" id="crearProductForm" method="post" action="/crear/producto" enctype="multipart/form-data">
            <h3 class="crearProductTitle">CREAR PRODUCTO</h3>

            <div class="createProductLabelAndInputContainer">
                <label class="createProductLabel" for="product_name">Nombre del producto</label>
                <input class="createProductInput" type="text" id="product_name" name="product_name">
            </div>

            <div class="createProductLabelAndInputContainer">
                <label class="createProductLabel" for="price">Precio (sin puntos)</label>
                <input class="createProductInput" type="number" id="price" name="price">
            </div>

            <div class="createProductLabelAndInputContainer">
                <label class="createProductLabel" for="discount">Descuento (solo el número)</label>
                <input class="createProductInput" type="number" id="discount" name="discount">
            </div>

            <div class="createProductLabelAndInputContainer">
                <label class="createProductLabel" for="image">Imagen producto</label>
                <input class="createProductInput" type="file" id="image" name="image">
            </div>

            <div class="createProductLabelAndInputContainer">
                <label class="createProductLabel" for="category">Categoría</label>
                <select class="createProductInput" name="category" id="category">
                    <% categories.forEach(category => { %>
                        <option value="<%= category.name %>"><%= category.name %></option>
                    <% }) %>
                </select>
            </div>

            <button class="crearProductoButton" type="submit">SIGUIENTE</button>
        </form>
    </main>

    <!-- ******************************** FOOTER ******************************** -->
    <%- include("partials/footer") %>
    <!-- ******************************** END FOOTER ******************************** -->
</body>
</html>