<!DOCTYPE html>
<html lang="es">
<head>
    <%- include("partials/head", {title: "Futbol e-commerce"}) %>
</head>
<body>
    <!-- ******************************** HEADER ******************************** -->
    <%- include("partials/header") %>
    <!-- ******************************** END HEADER ******************************** -->

    <main class="crearProductMain">
        <form class="crearProductForm" id="crearProductForm" method="post" action="/crear/producto" enctype="multipart/form-data">
            <h3 class="crearProductTitle">CREAR PRODUCTO</h3>

            <div class="createProductLabelAndInputContainer">
                <label class="createProductLabel" for="product_name">Nombre del producto</label>
                <input class="createProductInput" type="text" id="product_name" name="product_name" maxlength="70">
                <% if (locals.errors && errors.product_name) { %>
                    <span class="backendRegistroError"><%= errors.product_name.msg %></span>
                <% } %>
            </div>

            <div class="createProductLabelAndInputContainer">
                <label class="createProductLabel" for="price">Precio (sin puntos)</label>
                <input class="createProductInput" type="number" id="price" name="price" max="9999999">
                <% if (locals.errors && errors.price) { %>
                    <span class="backendRegistroError"><%= errors.price.msg %></span>
                <% } %>
            </div>

            <div class="createProductLabelAndInputContainer">
                <label class="createProductLabel" for="discount">Descuento (solo el número)</label>
                <input class="createProductInput" type="number" id="discount" name="discount" max="101">
                <% if (locals.errors && errors.discount) { %>
                    <span class="backendRegistroError"><%= errors.discount.msg %></span>
                <% } %>
            </div>

            <div class="createProductLabelAndInputContainer">
                <label class="createProductLabel" for="stock">Stock (solo el número)</label>
                <input class="createProductInput" type="number" id="stock" name="stock" max="9999">
                <% if (locals.errors && errors.stock) { %>
                    <span class="backendRegistroError"><%= errors.stock.msg %></span>
                <% } %>
            </div>

            <div class="createProductLabelAndInputContainer">
                <label class="createProductLabel" for="image1">Imagen producto</label>
                <input class="createProductInput" type="file" id="image1" name="image1">
                <% if (locals.errors && errors.image1) { %>
                    <span class="backendRegistroError"><%= errors.image1.msg %></span>
                <% } %>
            </div>

            <div class="createProductLabelAndInputContainer">
                <label class="createProductLabel" for="image2">Imagen producto</label>
                <input class="createProductInput" type="file" id="image2" name="image2">
                <% if (locals.errors && errors.image2) { %>
                    <span class="backendRegistroError"><%= errors.image2.msg %></span>
                <% } %>
            </div>

            <div class="createProductLabelAndInputContainer">
                <label class="createProductLabel" for="image3">Imagen producto</label>
                <input class="createProductInput" type="file" id="image3" name="image3">
                <% if (locals.errors && errors.image3) { %>
                    <span class="backendRegistroError"><%= errors.image3.msg %></span>
                <% } %>
            </div>

            <div class="createProductLabelAndInputContainer">
                <p class="createProductLabel">Talles</p>
                <% talles.forEach(talle => { %>
                    <label class="categoryFilterLabel" for="talle-<%= talle.name.toLowerCase() %>">
                        <input class="categoryFilterCheckbox" type="checkbox" id="talle-<%= talle.name.toLowerCase() %>" name="talles[]" value="<%= talle.name.toLowerCase() %>">
    
                        <span class="categoryFilterCheckboxName"><%= talle.name %></span>
                    </label>
                <% }) %>
            </div>

            <div class="createProductLabelAndInputContainer">
                <label class="createProductLabel" for="category">Categoría</label>
                <select class="createProductInput" name="category" id="category">
                    <% categories.forEach(category => { %>
                        <option value="<%= category.name %>"><%= category.name %></option>
                    <% }) %>
                </select>
            </div>

            <button class="crearProductoButton" type="submit">SIGUIENTE</button>
        </form>
    </main>

    <!-- ******************************** FOOTER ******************************** -->
    <%- include("partials/footer") %>
    <!-- ******************************** END FOOTER ******************************** -->
</body>
</html>