<!DOCTYPE html>
<html lang="es">
<head>
    <%- include("partials/head", {title: "Tifosi"}) %>
</head>
<body>
    <!-- ******************************** HEADER ******************************** -->
    <%- include("partials/header") %>
    <!-- ******************************** END HEADER ******************************** -->

    <main class="productsSearchedMain">
        <section class="indexCamisetasSection">
            <div class="indexCamisetasTitleAndFilterButtonContainer">
                <div style="margin-top: 20px;" class="indexCamisetasTitleContainer">
                    <h2 class="indexCamisetasTitle">PRODUCTOS BUSCADOS</h2>
                    <div class="indexCamisetasTitleUnderline"></div>
                </div>
            </div>

            <div class="indexCamisetasContainer">
                <% productsSearched.forEach(product => { %>
                    <div class="camisetaContainer">
                        <a class="camiestaLink" href="/productos/<%= product.id %>">
                            <div class="camisetaImageContainer">
                                <img class="camisetaImage" src="/images/products/<%= product.images[0]?.image %>" alt="<%= product.product_name %>">
                            </div>
        
                            <div class="camisetaInformationContainer">
                                <span class="camisetaTitle"><%= product.product_name %></span>
                                <span class="camisetaPrice">$<%= product.price %></span>
                                <span class="camisetaDiscountText"><span class="camisetaDiscountTextPrice">$<%= product.price - (product.price * 0.10) %></span> con transferencia o efectivo</span>
                            </div>
                        </a>

                        <form class="camisetaForm" action="/productos/<%= product.id %>" method="get">
                            <button class="camisetaAddToCartButton">AGREGAR AL CARRITO</button>
                        </form>
                    </div>
                <% }) %>
            </div>
        </section>
    </main>

    <!-- ******************************** FOOTER ******************************** -->
    <%- include("partials/footer") %>
    <!-- ******************************** END FOOTER ******************************** -->
</body>
</html>