<!DOCTYPE html>
<html lang="es">
<head>
    <%- include("partials/head", {title: "Futbol e-commerce"}) %>
    <script src="/js/productDetailQuantityScript.js" defer></script>
    <script src="/js/productDetailSizeSelectedScript.js" defer></script>
    <script src="/js/productDetailDeleteProductButton.js" defer></script>
    <script src="/js/productDetailFormScript.js" defer></script>
    <script src="/js/productDetailTalleRequiredScript.js" defer></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css">
</head>
<body>
    <!-- ******************************** HEADER ******************************** -->
    <%- include("partials/header") %>
    <!-- ******************************** END HEADER ******************************** -->

    <main>
        <section class="productDetailSection">
            <section id="image-carousel" class="splide productDetailSectionSplide" aria-label="Beautiful Images">
                <div class="splide__track productDetailSplide__track">
                    <ul class="splide__list">
                        <li class="splide__slide">
                            <div class="productDetailImageContainer">
                                <img class="productDetailImage" src="/images/products/<%= product.images[0]?.image %>" alt="<%= product.product_name %>">
                            </div>
                        </li>

                        <% if(product.images[1]?.image){ %>
                            <li class="splide__slide">
                                <div class="productDetailImageContainer">
                                    <img class="productDetailImage" src="/images/products/<%= product.images[1].image %>" alt="<%= product.product_name %>">
                                </div>
                            </li>
                        <% } %>

                        <% if(product.images[2]?.image){ %>
                            <li class="splide__slide">
                                <div class="productDetailImageContainer">
                                    <img class="productDetailImage" src="/images/products/<%= product.images[2].image %>" alt="<%= product.product_name %>">
                                </div>
                            </li>
                        <% } %>

                        <% if(product.images[3]?.image){ %>
                            <li class="splide__slide">
                                <div class="productDetailImageContainer">
                                    <img class="productDetailImage" src="/images/products/<%= product.images[3].image %>" alt="<%= product.product_name %>">
                                </div>
                            </li>
                        <% } %>

                        <% if(product.images[4]?.image){ %>
                            <li class="splide__slide">
                                <div class="productDetailImageContainer">
                                    <img class="productDetailImage" src="/images/products/<%= product.images[4].image %>" alt="<%= product.product_name %>">
                                </div>
                            </li>
                        <% } %>

                        <% if(product.images[5]?.image){ %>
                            <li class="splide__slide">
                                <div class="productDetailImageContainer">
                                    <img class="productDetailImage" src="/images/products/<%= product.images[5].image %>" alt="<%= product.product_name %>">
                                </div>
                            </li>
                        <% } %>

                        <% if(product.images[6]?.image){ %>
                            <li class="splide__slide">
                                <div class="productDetailImageContainer">
                                    <img class="productDetailImage" src="/images/products/<%= product.images[6].image %>" alt="<%= product.product_name %>">
                                </div>
                            </li>
                        <% } %>

                        <% if(product.images[7]?.image){ %>
                            <li class="splide__slide">
                                <div class="productDetailImageContainer">
                                    <img class="productDetailImage" src="/images/products/<%= product.images[7].image %>" alt="<%= product.product_name %>">
                                </div>
                            </li>
                        <% } %>

                        <% if(product.images[8]?.image){ %>
                            <li class="splide__slide">
                                <div class="productDetailImageContainer">
                                    <img class="productDetailImage" src="/images/products/<%= product.images[8].image %>" alt="<%= product.product_name %>">
                                </div>
                            </li>
                        <% } %>

                        <% if(product.images[9]?.image){ %>
                            <li class="splide__slide">
                                <div class="productDetailImageContainer">
                                    <img class="productDetailImage" src="/images/products/<%= product.images[9].image %>" alt="<%= product.product_name %>">
                                </div>
                            </li>
                        <% } %>
                    </ul>
                </div>
            </section>

            <div class="productDetailInformation">
                <div class="productDetailNameCategoryAndSubcategory">
                    <h2 class="productDetailName"><%= product.product_name %></h2>
                    <p class="productDetailCategory"><%= categoryName %></p>
                    <p class="productDetailSubcategory"><%= subcategoryName %></p>
                </div>

                <div class="productDetailPriceDiscountQuantityAndSizesContainer">
                    <div class="productDetailPriceAndDiscountContainer">
                        <p class="productDetailPrice">$<%= product.price %></p>
                        <p class="productDetailDiscount"><%= product.discount %>% OFF</p>
                    </div>

                    <form class="productDetailForm" id="productDetailForm" action="" method="">
                        <div class="productDetailQuantityContainer">
                            <label class="productDetailQuantityLabel" for="productQuantity">Cantidad</label>
                            <div class="quantityContainer">
                                <button type="button" class="productDetailQuantitySubtractButton">-</button>
                                <input class="productDetailQuantityInput" type="number" name="productQuantity" id="productQuantity" value="1" min="1" max="<%= product.stock %>" required>
                                <button type="button" class="productDetailQuantityAddButton">+</button>
                            </div>
                            <span class="productDetailStockDisponible">(<%= product.stock %> disponibles)</span>
                        </div>
    
                        <div class="productDetailSizesContainer" id="productDetailSizesContainer">
                            <% tallesNames.forEach(talle => { %>
                                <label class="productDetailSizeLabel" for="productDetailSize-<%= talle %>"><%= talle %></label>
                                <input class="productDetailSizeRadio" type="radio" name="productDetailSize" id="productDetailSize-<%= talle %>" value="<%= talle %>">
                            <% }) %>

                            <span class="tallesNotSelectedError" id="tallesNotSelectedError"></span>
                        </div>
    
                        <div class="productDetailButtonsContainer">
                            <button type="button" class="productDetailBuyButton" onclick="submitForm('', '')">Comprar</button>
    
                            <button type="button" class="productDetailAddToCartButton" onclick="validateAndSubmit('/carrito/<%= product.id %>', 'post')">Agregar al carrito</button>
    
                            <% if(locals.userLoggedIn.rank == "admin"){ %>
                                <button type="submit" class="productDetailEditProduct" onclick="submitForm('/editar/producto/<%= product.id %>', 'get')">Ediar producto</button>

                                <button type="button" onclick="deleteProduct()" class="productDetailDeleteProduct">Borrar producto</button>
                            <% } %>
                        </div>
                    </form>

                    <div class="deleteProductFormContainer" id="deleteProductFormContainer">
                        <form class="deleteProductForm" id="deleteProductForm" action="" method="">
                            <div class="deleteProductTextContainer">
                                <h4 class="deleteProductFormTitle">¿Estas seguro de eliminar el siguiente producto?</h4>
                                <p class="deleteProductFormProductName"><%= product.product_name %></p>
                            </div>

                            <div class="deleteProductButtonsContainer">
                                <button class="deleteProductButton" type="button" onclick="deleteProductProcess('/borrar/producto/<%= product.id %>?_method=delete', 'post')">Borrar</button>
                                <button class="deleteProductCancelButton" onclick="cancelDeleteProduct()" type="button">Cancelar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- ******************************** FOOTER ******************************** -->
    <%- include("partials/footer") %>
    <!-- ******************************** END FOOTER ******************************** -->

    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
    <script>
        document.addEventListener( 'DOMContentLoaded', function() {
            var splide = new Splide( '.splide', {
                pagination: true,
                arrows: true
            } );
            splide.mount();
        } );
    </script>
</body>
</html>