<!DOCTYPE html>
<html lang="es">
<head>
    <%- include("partials/head", {title: "Tifosi"}) %>
</head>
<body>
    <!-- ******************************** HEADER ******************************** -->
    <%- include("partials/header") %>
    <!-- ******************************** END HEADER ******************************** -->

    <main class="crearProductMain">
        <form class="crearProductForm" id="editarProductForm" action="/editar/producto/<%= product.id %>?_method=put" method="post" enctype="application/x-www-form-urlencoded">
            <h3 class="crearProductTitle">EDITAR PRODUCTO</h3>

            <div class="createProductLabelAndInputContainer">
                <label class="createProductLabel" for="product_name">Nombre del producto</label>
                <input class="createProductInput" type="text" id="product_name" name="product_name" value="<%= product.product_name %>" maxlength="70">
            </div>

            <div class="createProductLabelAndInputContainer">
                <label class="createProductLabel" for="price">Precio (sin puntos)</label>
                <input class="createProductInput" type="number" id="price" name="price" value="<%= product.price %>" max="9999999">
            </div>

            <div class="createProductLabelAndInputContainer">
                <label class="createProductLabel" for="stock">Stock (solo el número)</label>
                <input class="createProductInput" type="number" id="stock" name="stock" value="<%= product.stock %>" max="9999">
            </div>

            <button class="crearProductoButton" type="submit">EDITAR PRODUCTO</button>
        </form>
    </main>

    <!-- ******************************** FOOTER ******************************** -->
    <%- include("partials/footer") %>
    <!-- ******************************** END FOOTER ******************************** -->
</body>
</html>