<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head", {title: "Futbol e-commerce"}) %>
</head>
<body>
    <!-- ******************************** HEADER ******************************** -->
    <%- include("partials/header") %>
    <!-- ******************************** END HEADER ******************************** -->

    <main>
        <section class="profileSection">
            <p class="profileWarningText">Para realizar compras, debes tener la información de envio completa.</p>

            <div class="indexCamisetasTitleContainer">
                <h2 class="indexCamisetasTitle">PERFIL</h2>
                <div class="indexCamisetasTitleUnderline"></div>
            </div>

            <div class="profilePersonalInformationContainer">
                <h3 class="profilePersonalInformationTitle">INFORMACIÓN PERSONAL</h3>

                <div class="profilePersonalInformationBox">
                    <span class="profilePersonalInformationBoxTitle">Nombre</span>
                    <span class="profilePersonalInformationBoxContent"><%= locals.userLoggedIn.name %></span>
                </div>

                <div class="profilePersonalInformationBox">
                    <span class="profilePersonalInformationBoxTitle">Apellido</span>
                    <span class="profilePersonalInformationBoxContent"><%= locals.userLoggedIn.last_name %></span>
                </div>

                <div class="profilePersonalInformationBox">
                    <span class="profilePersonalInformationBoxTitle">Email</span>
                    <span class="profilePersonalInformationBoxContent"><%= locals.userLoggedIn.email %></span>
                </div>

                <div class="profilePersonalInformationEditButtonContainer">
                    <a href="/perfil/editar-informacion-personal" class="profilePersonalInformationEditButton">Editar información personal</a>
                </div>
            </div>

            <div class="profileShipmentInformationContainer">
                <h3 class="profileShipmentInformationTitle">INFORMACIÓN DE ENVIO</h3>

                <div class="profileShipmentInformationBox">
                    <span class="profileShipmentInformationBoxTitle">País</span>
                    <span class="profileShipmentInformationBoxContent"><%= locals.userLoggedIn.country === null ? "-" : locals.userLoggedIn.country %></span>
                </div>

                <div class="profileShipmentInformationBox">
                    <span class="profileShipmentInformationBoxTitle">Provincia</span>
                    <span class="profileShipmentInformationBoxContent"><%= locals.userLoggedIn.province === null ? "-" : locals.userLoggedIn.province %></span>
                </div>

                <div class="profileShipmentInformationBox">
                    <span class="profileShipmentInformationBoxTitle">Ciudad</span>
                    <span class="profileShipmentInformationBoxContent"><%= locals.userLoggedIn.city === null ? "-" : locals.userLoggedIn.city %></span>
                </div>

                <div class="profileShipmentInformationBox">
                    <span class="profileShipmentInformationBoxTitle">Dirección</span>
                    <span class="profileShipmentInformationBoxContent"><%= locals.userLoggedIn.address === null ? "-" : locals.userLoggedIn.address %></span>
                </div>

                <div class="profileShipmentInformationBox">
                    <span class="profileShipmentInformationBoxTitle">Código postal</span>
                    <span class="profileShipmentInformationBoxContent"><%= locals.userLoggedIn.cp === null ? "-" : locals.userLoggedIn.cp %></span>
                </div>

                <div class="profileShipmentInformationBox">
                    <span class="profileShipmentInformationBoxTitle">DNI</span>
                    <span class="profileShipmentInformationBoxContent"><%= locals.userLoggedIn.dni === null ? "-" : locals.userLoggedIn.dni %></span>
                </div>

                <div class="profileShipmentInformationEditButtonContainer">
                    <a href="/perfil/edital-informacion-de-envio" class="profileShipmentInformationEditButton">Editar información de envío</a>
                </div>
            </div>

            <div class="profileLogoutButtonContainer">
                <a class="profileLogoutButton" href="/logout">Cerrar sesión</a>
            </div>
        </section>
    </main>

    <!-- ******************************** FOOTER ******************************** -->
    <%- include("partials/footer") %>
    <!-- ******************************** END FOOTER ******************************** -->
</body>
</html>